.container{
display:grid;
grid-template-columns:repeat(var(--cols), 1fr);
grid-template-rows:repeat(var(--rows), 0.8fr);
column-gap: 10px;
row-gap: 10px;
margin-bottom:2%;
margin-right:1%;
}
.dashboard_cell {
overflow:auto;
background:transparent;
border: 2px solid #6D95AB;
padding:1px;
border-radius:7px;
scrollbar-color: #026149 #B5D4F3;
}
.CloseButton{
float:right;
background:#090932;
color:#ADD8E6;
padding-left:3px;
padding-right:3px;
border-radius:27px;
cursor:pointer;
}